<ion-header class="modern-header">
  <ion-toolbar class="modern-toolbar">
    <ion-buttons *ngIf="clientName" slot="start">
      <span id="client-tile" class="client-name modern-title" (click)="loadClients()">{{clientName}}</span>
      <ion-popover trigger="client-tile" triggerAction="click" alignment="start" side="bottom" [dismissOnSelect]="true" class="client-popover">
        <ng-template>
          <ion-content>
            <ion-list lines="none">
              <ion-item *ngFor="let c of clients" button detail="false" [class.selected]="c.id === currentClientId" (click)="switchClient(c)">
                <ion-label>{{c.name}}</ion-label>
                <ion-icon *ngIf="c.id === currentClientId" name="checkmark" slot="end"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-buttons>
    <ion-segment value="{{this.category}}" (ionChange)="categoryChanged($event)" scrollable="true">
      <ion-segment-button
        *ngIf="isCategoryAvailable('audiobook') && (availableCategories.includes('audiobook') || (enableContentSearch && spotifyConfigured))"
        value="audiobook"
      >
        <ion-icon name="book-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button
        *ngIf="isCategoryAvailable('music') && (availableCategories.includes('music') || (enableContentSearch && spotifyConfigured))"
        value="music"
      >
        <ion-icon name="musical-notes-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button
        *ngIf="isCategoryAvailable('playlist') && availableCategories.includes('playlist')"
        value="playlist"
      >
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button
        *ngIf="isCategoryAvailable('radio') && (availableCategories.includes('radio') || enableContentSearch)"
        value="radio"
      >
        <ion-icon name="radio-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button
        *ngIf="isCategoryAvailable('podcast') && (availableCategories.includes('podcast') || (enableContentSearch && spotifyConfigured))"
        value="podcast"
      >
        <ion-icon name="mic-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button
        *ngIf="isCategoryAvailable('radioplay') && availableCategories.includes('radioplay')"
        value="radioplay"
      >
        <ion-icon name="play-circle-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    <ion-buttons slot="end">
      <ion-button *ngIf="enableAlarmClock" class="modern-button-icon" (click)="openAlarmManager()">
        <ion-icon name="alarm-outline"></ion-icon>
      </ion-button>
      <ion-button class="modern-button-icon" (click)="goToPlayer()">
        <ion-icon name="play-outline"></ion-icon>
      </ion-button>
      <ion-button class="modern-button-icon" (click)="toggleSearch()">
        <ion-icon name="{{showSearch ? 'close' : 'search-outline'}}"></ion-icon>
      </ion-button>
      <ion-button class="modern-button-icon" (click)="toggleKeyboard()">
        <ion-icon name="{{showKeyboard ? 'keypad' : 'keypad-outline'}}"></ion-icon>
      </ion-button>
      <span class="clock-display" (click)="clockTapped()">{{currentTime}}</span>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="showSearch" class="search-toolbar">
    <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionInput)="onSearch()"
      (ionFocus)="setActiveInput('search'); kioskService.isKioskMode && (showKeyboard = true)"
      placeholder="Search library..."
      debounce="300"
      [attr.inputmode]="kioskService.isKioskMode ? 'none' : null"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [class.keyboard-visible]="showKeyboard">
  <div
    class="radio-search-bar"
    *ngIf="enableContentSearch && (category === 'radio' || spotifyConfigured)"
  >
    <button class="radio-search-btn" (click)="openContentSearch()">
      <ion-icon name="add-circle-outline"></ion-icon>
      <span>Add {{ getSearchLabel() }}</span>
    </button>
  </div>

  <div *ngIf="isLoadingCategories" class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <app-virtual-grid
    *ngIf="!isLoadingCategories"
    [items]="filteredArtists"
    [covers]="covers"
    [itemsPerPage]="12"
    (itemClick)="artistCoverClicked($event)"
    (nameClick)="artistNameClicked($event)"
    (loadMoreArtwork)="loadMoreArtistArtwork($event)"
  >
  </app-virtual-grid>

  <!-- Scroll trigger for loading more artists -->
  <div
    #scrollTrigger
    style="height: 1px; width: 100%; position: absolute; bottom: 200px; pointer-events: none"
  ></div>

  <!-- Virtual Keyboard -->
  <app-virtual-keyboard
    [isVisible]="showKeyboard"
    (keyPress)="addKey($event)"
    (backspace)="backspace()"
    (tab)="nextInput()"
    (hide)="hideKeyboard()"
  >
  </app-virtual-keyboard>
</ion-content>
